header{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: grey;
    border-bottom: 1px solid #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    width: 100%;
    z-index: 100;
}
header h1{
    font-size: 24px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    color: whitesmoke;
}
.burger{
    display: none;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}
.burger:hover .line{
    background-color: #ababab;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    position: sticky;
    top: 0;
    border-top: 1px solid #333;
    background-color: #0b0b0b6c;
    padding: 8px 0;
}
nav.nav-active{
    display: flex;
}
nav a{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 15px;
    
    padding: 5px 10px;
    transition: all 0.3s ease;
}
nav a.active{
    background-color: #333;
}
a.active:hover{
    color: #b2b2b2;
}
nav a:hover{
    color: #333;
    text-decoration: underline;
}
.burger.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.toggle .line2{
    opacity: 0;
}
.burger.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}